/* index.css */

/* Estilos para secciones específicas de App.tsx */
#general-info,
#weather-forecast,
#climate-trends,
#detailed-forecast {
  margin-top: 2rem; /* Margen superior */
  margin-bottom: 2rem; /* Margen inferior */
}

/* Estilos para el encabezado de la aplicación */
.nav {
  background-color: #1a1a1a; /* Fondo oscuro para el encabezado */
  padding: 1rem; /* Relleno interno */
  margin-bottom: 2rem; /* Margen inferior */
}

.nav h1 {
  color: #ffffff; /* Texto blanco para el título */
  font-size: 2.5rem; /* Tamaño de fuente grande */
  margin: 0; /* Eliminar margen interno */
}

.nav ul {
  list-style-type: none; /* Sin viñetas en la lista */
  padding: 0; /* Eliminar relleno interno */
  display: flex; /* Mostrar elementos en línea */
}

.nav ul li {
  margin-right: 1rem; /* Margen derecho entre elementos */
}

.nav ul li a {
  color: #ffffff; /* Texto blanco para enlaces */
  text-decoration: none; /* Sin subrayado */
  font-weight: 500; /* Peso de fuente */
  transition: color 0.3s ease; /* Transición de color */
}

.nav ul li a:hover {
  color: #646cff; /* Color de enlace al pasar el cursor */
}

/* Estilos para los componentes en cuadrícula */
.GridItem {
  display: flex;
  justify-content: center;
  align-items: center;
  text-align: center;
  padding: 1rem;
  background-color: #ffffff; /* Fondo blanco para cuadrículas */
  border-radius: 8px;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1); /* Sombra ligera */
  transition: transform 0.3s ease, box-shadow 0.3s ease; /* Transiciones */
}

.GridItem:hover {
  transform: translateY(-5px); /* Efecto de elevación al pasar el cursor */
  box-shadow: 0 6px 12px rgba(0, 0, 0, 0.15); /* Sombra más pronunciada */
}

#current-time {
  margin-top: 20px;
  padding: 20px;
  background-color: #1a1a1a;
  border-radius: 8px;
  box-shadow: 0px 4px 10px rgba(0, 0, 0, 0.1);
}

#current-time h2 {
  font-size: 1.8em;
  color: #ffffff;
  margin-bottom: 10px;
}

#current-time p {
  font-size: 1.4em;
  color: #ffffff;
}

/* Media Query para modo claro */
@media (prefers-color-scheme: light) {
  .nav {
    background-color: #f9f9f9; /* Fondo claro para el encabezado en modo claro */
  }
  .nav h1 {
    color: #1a1a1a; /* Texto oscuro para el título en modo claro */
  }
  .nav ul li a {
    color: #1a1a1a; /* Texto oscuro para enlaces en modo claro */
  }
  .GridItem {
    background-color: #f9f9f9; /* Fondo claro para cuadrículas en modo claro */
  }
}
